@import '@src/global';
.Toastify__toast {
  @include regular(3vw, $black);
  @include vhcenter;
  border-radius: 32px;
  border: 1px solid $primary-3;
  word-break: unset;
  background-color: $white;
  min-height: max-content;
  &-body {
    padding: 0;
    margin: 0;
  }
  &-container {
    width: max-content;
  }
}
