@import '@src/global';

.signin-page {
  @include page;
  .signin-body {
    @include vcenter;
    @include body;
    padding: 10vh 16px;
    flex-direction: column;
    .icon-wrapper {
      width: 100%;
      margin: 56px 0;
      @include hcenter;
    }
    .xoxo-info {
      width: 100%;
      text-align: right;
      @include bold(3.75vw, $white);
      line-height: 2vw;
      @include not-mobile{
        @include bold(16px, $white);
        line-height: 8.5px;
      }
    }
      .kakao-auth-button {
        width: 100%;
        @include button-large(#fee500, $black);
        @include vcenter;
        flex-direction: row;
        span {
          margin-left: 4px;
          margin-bottom: 2px;
        }
      }
  }
}
