@import "@src/global";

.feed-profile-header{
    @include vcenter;
    margin: 8px 0 24px 0;
}
.feed-profile-image-wrapper{
    position: relative;
    width: 72px;
    margin-right: 12px;
}
.feed-profile-image{
    @include circle(72px, true, $grey-font);
    div {
        background-color: $grey;
    }
}
.edit-button{
    @include circle(20px, true, $white);
    position: absolute;
    right: 0px;
    bottom: 0px;
    div {
        background-color: $primary-3;
        border: 2px solid $white;
    }
}
.feed-profile-info-wrapper {
    @include hcenter;
    flex-direction: column;
    .feed-profile-description {
        display: block;
        @include regular(10px);
        line-height: 160%;
    }
    .feed-profile-status {
        margin-top: 0.6em;
        @include regular(10px);
        .line{
            height: 12px;
            width: 0px;
            border-right: 1px solid $grey-font;
            margin: 0 4px;
        }
        .bold{
            @include bold(10px);
        }
    }
}

.feed-share-button{
    @include button-large;
    span {
        margin-left: 4px;
    }
    margin-bottom: 32px;
}
