@import '@src/global';
.error-page{
  @include vhcenter;
  @include page;
}
.text-container{
  @include vhcenter;
  width: 100%;
  flex-direction: column;
  .error-title{
    margin: 0;
    @include bold(20vw, $white);
    @include not-mobile{
      @include bold(85px, $white);
    }
  }
  .error-desc{
    @include bold(4vw, $grey-font);
    @include not-mobile{
      @include bold(17px, $grey-font);
    }
  }
}
