@import '@src/global';

.signin-page {
  @include page;
}
.signin-body {
  @include vcenter;
  @include body;
  .icon-image {
    height: 20vw;
    margin-bottom: 4vw;
    @include not-mobile{
      height: 85px;
      margin-bottom: 17px;
    }
  }
  .form-wrapper {
    @include form-wrapper($white, $white);
    width: 100%;
  }
  .form-button {
    @include button-large(#fee500, $black);
    margin-top: 4vw;
    @include not-mobile{
      margin-top: 17px;
    }
  }
}
