@import '@src/global';

.dimd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  z-index: 998;
}
.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 33%;
  aspect-ratio: 1/1;
  img {
    background-color: $grey-font;
    width: 100%;
    height: 100%;
  }
}
