@import './mixin';

$primary-1: #ffefed;
$primary-2: #edb0a8;
$primary-3: #ea4b35;
$black: #000000;
$grey-font: #d9d9d9;
$grey: #ededed;
$white: #ffffff;
$error: #fd4747;

@mixin font($color: $black) {
  font-family: 'Noto Sans KR';
  font-style: normal;
  color: $color;
}

@mixin bold($size, $color: $black) {
  @include font($color);
  font-size: $size;
  font-weight: 700;
}

@mixin medium($size, $color: $black) {
  @include font($color);
  font-size: $size;
  font-weight: 500;
}

@mixin regular($size, $color: $black) {
  @include font($color);
  font-size: $size;
  font-weight: 400;
}

@mixin vcenter {
  display: flex;
  align-items: center;
}

@mixin hcenter {
  display: flex;
  justify-content: center;
}

@mixin vhcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin page {
  @include scroll;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: relative;
  @include not-mobile{
    width: 425px;
  }
}

@mixin header {
  @include vcenter;
  @include bold(18px);
  // @include shadow-bottom;
  width: calc(100% - 16px);
  height: 40px;
  margin: 0;
  padding: 0px 8px;
}

@mixin body {
  flex: 1;
  padding: 16px;
}

@mixin scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

@mixin button-large($bg-color: $primary-3, $font-color: $white) {
  @include bold(3.75vw, $font-color);
  @include vhcenter;
  width: 100%;
  background-color: $bg-color;
  padding: 3.75vw 0;
  border-radius: 6px;
  &:disabled {
    cursor: default;
    background-color: $primary-2;
  }
  @include not-mobile{
    @include bold(16px, $font-color);
    padding: 16px 0;
  }
}

@mixin input-common($color: $black) {
  @include regular(3.75vw);
  width: calc(100%-32px);
  height: 6.6vw;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $grey;
  margin: 2.5vw 0;
  color: $color;
  @include not-mobile{
    @include regular(16px, $color);
    height: 28px;
    margin: 10px 0;
  }
  @include desktop{
    @include regular(16px, $color);
    height: 28px;
    margin: 10px 0;
  }
  &::placeholder {
    @include regular(3.75vw, $grey-font);
    @include not-mobile{
      @include regular(16px, $grey-font);
    }
  }
  &:focus {
    outline: none;
    border-color: $primary-3;
  }
}

@mixin circle($size: 32px, $has-border: false, $border-color: $black) {
  @include vhcenter;
  width: $size;
  height: $size;
  border-radius: 50%;
  overflow: hidden;
  @if $has-border {
    border: 1px solid $border-color;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin display-col($gap) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: $gap;
}

@mixin form-wrapper($label-color: $black, $font-color: $black) {
  @include display-col(1.25vw);
  @include not-mobile{
    @include display-col(5px);
  }
  .form-label {
    @include medium(4.375vw, $label-color);
    @include not-mobile{
      @include bold(18px, $label-color);
    }
  }
  input {
    @include input-common($font-color);
  }
  .form-warning {
    @include regular(2.5vw, $error);
    @include not-mobile{
      @include bold(10px, $error);
    }
  }
}

html,
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  @include vhcenter;
  @include desktop {
    width: 100vw;
  }
  @include scroll;
}
#root {
  .image-wrapper{
    display: none;
  }
  @include desktop {
    @include vhcenter;
    width: 100%;
    display: flex;
    flex-direction: row;
    .image-wrapper {
      display: block;
      margin-right: 48px;
    }
  }
}
