@import '@src/global';

.feed-header {
  @include header;
  .text-wrapper {
    @include vcenter;
    .text {
      @include vcenter;
      @include regular(5vw, $black);
      margin-right: 4px;
    }
    .nickname {
      max-width: 40vw;
      margin-left: 1vw;
      @include bold(5vw, $black);
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      display:inline-block;
    }
    @include not-mobile {
      .text {
        @include regular(21px, $black);
      }
      .nickname {
        max-width: 180px;
        margin-left: 6px;
        @include bold(21px, $black);
      }
    }
  }
}
.svg-wrapper {
  @include vhcenter;
  width: 5vw;
  height: 5.5vw;
  @include not-mobile {
    width: 15px;
    height: 17px;
  }
}
.default-header {
  @include header;
  &-shadow {
    @include header;
  }
}
