@import '@src/global';

.feed-header {
  @include header;
  .text-wrapper {
    @include vcenter;
    .svg-wrapper{
      margin-left: 4px;
    }
  }
}
.svg-wrapper {
  @include vhcenter;
  width: 5vw;
  height: 5.5vw;
  @include not-mobile {
    width: 15px;
    height: 17px;
  }
}
.default-header {
  @include header;
  &-shadow {
    @include header;
  }
}
